<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
    <span>Time:</span>
    <ul>
        <li>From Controller: $time</li>
        <li>From velocity: $dateTool</li>
    </ul>
    <span>Message: $message</span>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $.get('http://192.168.136.129:8080/api/supportCORS', function(data) {
        alert(data);
    });
</script>
</body>
</html>